@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

//MEDIA QUERY MANAGER

// 0-600px: Phone
// 600-900px: tab portrait
// 900-1200px: tab landscape
// 1200-1800px: our styles
// 1800+: big desktop


/*
$breakpoint argument choices:
- phone
-tab-port
-tab-land
-big-desktop
*/

@mixin respond($breakpoint){


  // @if $breakpoint == big-desktop {
  //   // 1800px
  //   @media (max-width:112.5em) {@content}; 
  // }


  @if $breakpoint == tab-land {
    // 1200px
    @media (max-width:75em) {@content}; 
  }

  @if $breakpoint == tab-port {
    // 900px
    @media (max-width:56.25em) {@content}; 
  }

  @if $breakpoint == phone {
    // 600px
    @media (max-width:37.5em) {@content}; 
  }
}